*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
   background-color: rgb(18, 18, 18);
   color: white;
}
:root{
    /*button color*/
    --button-color: rgb(99, 243, 50);
    /*background colors*/
    --bg-color: rgb(18, 18, 18);
    --bg-secondary-color: rgb(54, 52, 52);

    /*BORDER COLORS*/
    --border-color: rgb(234, 200, 200);
    --border-secondary-color: rgb(0, 0, 0);

    /*font sizes*/
    --font-size-large: 2rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1rem;
    --font-size-xsmall: 0.8rem;

    /* border-radius */
    --bor-r-xsmall: 5px;
    --bor-r-small: 10px;
    --bor-r-medium: 15px;
    --bor-r-large: 20px;
    --bor-round: 50%;
    
}
section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
section .info{
display: flex;
justify-content: space-between;
padding: 30px;

}

.info h3{
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--bor-r-small);
}

.game-area{
    flex: 1;
    background-color: var(--bg-secondary-color);
    border: 2px solid var(--border-color);
    margin: 20px;
    border-radius: var(--bor-r-medium);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    padding: 5px;
}
.game-box{
    height: 50px ;
    width: 50px ;
    border: 1px solid var(--border-color);
}
.snake{
    background-color: green;
    animation: snake-move,background-color 0.4s linear infinite;
}

@keyframes snake-move {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.food{
    background-color: red;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
.start-screen, .game-over-screen{
    text-align: center;
}
.start-screen button, .game-over-screen button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: var(--bor-r-small);
    cursor: pointer;
    animation: transition 0.3s ease-in-out;
    background-color: var(--button-color);
}
.start-screen button:hover, .game-over-screen button:hover{
    background-color: var(--border-color);
    color: var(--bg-secondary-color);
    transform: scale(1.1);
}