*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
   background-color: rgb(18, 18, 18);
   color: white;
}
:root{
    /*background colors*/
    --bg-color: rgb(18, 18, 18);
    --bg-secondary-color: rgb(54, 52, 52);

    /*BORDER COLORS*/
    --border-color: rgb(234, 200, 200);
    --border-secondary-color: rgb(0, 0, 0);

    /*font sizes*/
    --font-size-large: 2rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1rem;
    --font-size-xsmall: 0.8rem;

    /* border-radius */
    --bor-r-xsmall: 5px;
    --bor-r-small: 10px;
    --bor-r-medium: 15px;
    --bor-r-large: 20px;
    
}
section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
section .info{
display: flex;
justify-content: space-between;
padding: 30px;

}

.info h3{
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--bor-r-small);
}

.game-area{
    flex: 1;
    background-color: var(--bg-secondary-color);
    border: 2px solid var(--border-color);
    margin: 20px;
    border-radius: var(--bor-r-medium);
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    padding: 5px;
}
.game-box{
    height: 50px ;
    width: 50px ;
    border: 1px solid var(--border-color);
}